:root{
    --color1: #302727;
    --color2: #ba2d2d;
    --color3: #f2511b;
    --color4: #f2861b;
    --color5: #c7c730;
    --color6: #f3e5f5;
    --color7: #ffc400;
}

html{
    font-family: 'Nunito', sans-serif;
}

.container{
    
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.content{
    max-width: 1100px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 10px;

    /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color; */
    /* difVertical difHorizontal desenfoque color */
    box-shadow: 0 3px 6px black;
    position: relative;
    padding: 1.8em;

    overflow: scroll;
}

a{
    /* enlaces */
    text-decoration: none;
    color: var(--color2);
    font-weight: 700;    
}

a:hover{
    opacity: 0.7;
}
a:active{
    background-color: var(--color5);
    border-radius: 5px;
}

.title{
    /* modifica titulos */
    text-transform: capitalize;
    text-align: center;
}

.paragraph{
    /* alto de la linea || espaciado entre lineas */
    line-height: 1.5em;
    text-align: justify;
    font-weight: 400;

}


.table{
    width: 100%;
    border-spacing: 0;
}

.table td, table th{
    padding: 1em;
}

.table th{
    background-color: whitesmoke;
}
.table tr:nth-child(odd){
    background-color: var(--color6);
}

.fa-star{
    color: var(--color7);
}


.title-item{
    
    /* border-bottom-style: solid;
    border-width: 5px;
    border-color: var(--color1); */

    /* shorthand property */
    border-bottom: 5px solid var(--color1) ;
    padding-bottom: 1em;
}

.main-image{
    float: left;
    height: 250px;
    margin-right: 1em;
}

.address{
    color: var(--color2);
    font-weight: 700;
}

.table_position{
    padding: 12px;
    margin-right: 12px;
    background-color: var(--color1);
    color: var(--color6);
    border-radius: 10%;  
    
}

.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    width: 35px;
    height: 35px;
    font-weight: 200px;
    color: var(--color6);
    background-color: var(--color1);
    border-radius: 50%;
    box-shadow: 0 3px 6px black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}